/* 必ず最初に Google Fonts を読み込む */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "yet-another-react-lightbox/styles.css";


/* Tailwind をインポート（この順番ならOK） */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* フォントと色を反映 */
body {
  background-color: #fdfaf6; /* アイボリー風 */
  color: #3c3c3c;
  font-family: 'Noto Serif JP', serif;
}
